#content {
    max-width: 90%;
    margin:auto;
    position: relative}
body{
    font-family: Urbanist, sans-serif;
    margin: 10px;}
h1{
    color: cornsilk;
    font-size: 3em; 
    text-decoration: underline;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #9E643C;
    padding: 0.5em;
    position: absolute;
    left: 0;
    top: 120px;
    opacity: 0.80}
h2{
    color: #9E643C; 
    font-size: 2em; 
    text-decoration: underline;
    margin-top: 5px;
    }
p,ul,ol,li {
    font-size: 1.05em;}
ul,ol,li {
    line-height: 1.25em;}
}
p1 {
    line-height: .95em;
    text-align: center;}
h3 {font-size: 1.25em; 
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: auto}
h4 {text-align: center;}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;}

#one {
    font-size: 1em;
    color:cornsilk;
    background-color: #9E643C;
    padding:0.5em;
    margin-bottom: 20px;
    width: 550px;
    position:absolute;
   left: 0px;
    bottom: 550px;
    opacity: 0.80;
    text-align: center;}
    
#two {
    padding: 5px;
    width: 700px;
    float: left;
    border-top: solid;
    border-top-color:#9E643C;
    border-top-width:20px;
    border-bottom: solid;
    border-bottom-color:#9E643C;
    border-bottom-width:20px;
    margin-top: 15px;
    border-left: dashed;
    border-left-color:#9E643C;
    border-left-width: 2px;}
#three {
    padding: 5px;
    padding-bottom: 22px;
    width:700px;
    float: right;
    margin-right: auto;
    border-top: solid;
    border-top-color:#9E643C;
    border-top-width:20px;
    border-bottom: solid;
    border-bottom-color:#9E643C;
    border-bottom-width:20px;
    margin-top: 15px;
    border-left: dashed;
    border-left-color:#9E643C;
    border-left-width: 2px;}
#four {
    margin-bottom: 20px;
    padding: 5px; 
    width: 700px;
    float:left;
    border-bottom: solid;
    border-bottom-color:#9E643C;
    border-bottom-width:20px;
    border-left: dashed;
    border-left-color:#9E643C;
    border-left-width:2px;}
#five {
    margin-bottom: 8.25px;
    font-size: 1.15em}
