#content {
    max-width: 900px;
    margin:auto;}
body{
    font-family: Urbanist, sans-serif;
    margin: 10px;}
h1{
    color:#746D75; 
    font-size: 4em; 
    text-decoration: underline;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    }
h2{
    color: #9E643C; 
    font-size: 2em; 
    text-decoration: underline;
    }
p,ul,ol,li {
    font-size: 1.05em;}
ul,ol,li {
    line-height: 1.45em;}
p {
    line-height: 1em;
    text-align: center;}
h3 {font-size: 1.5em; 
    text-decoration: underline;
    margin-bottom: 4px;}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;}
#one {text-align: center;
    font-size: 1.5em;
    background-color: #9E643C;
    padding:10px;
    margin-bottom: 20px;}
#two {
    background-color: #FDF0D5;
    padding: 15px;
    border:solid 5px #F9D89D; 
    width: 400px;
    float:left;
    margin-bottom: 10px;}
#three {
    background-color: #FDF0D5;
    padding: 15px;
    border:solid 5px #F9D89D;
    width: 400px;
    float: right;
    }
#four {
    background-color: #9E643C;  
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    border:solid 5px #9E643C;
    padding: 15px; 
    width: 400px;
    float:left}
#five {
    margin-bottom: 8.25px;}